.Header-Title{
    
    padding-top: 15px;
}
.Header-Button{
    padding-top: 20px;
    text-align: right;
}

.Status-switch{
    margin-top: 10px;
}
@media(max-width:900px){
    .Header-Status{
        width:120px;
    }
}