.theme-customisation-main{
    padding:20px 10px 10px 10px;
}
.theme-customisation-theme-selection{
    border-radius: 10px;
    border: 1px solid;
    border-color: #bfbfbf;
    padding:10px 10px 10px 10px;
}
.theme-customisation-radio{
    margin-top: 20px;
    margin-bottom: 20px;
}
.theme-customisation-radio-item{
    border-radius: 10px;
    border: 1px solid;
    border-color: #bfbfbf;
    padding:20px 20px 20px 20px;
}
.theme-customisation-set{
    border-radius: 10px;
    border: 1px solid;
    border-color: #bfbfbf;
    padding:10px 10px 10px 10px;
    margin-top:10px;
}
.theme-customisation-single-row{
    padding-top: 20px;
}
.theme-customisation-preview{
    text-align: center;
}
@media(max-width:900px){
    .theme-customisation-theme-selection{
        width:270px;
        
    }
    .theme-customisation-preview{
        width:600px;
    }
    .theme-customisation-radio-item{
        padding:10px 10px 10px 10px;
    }
    .theme-customisation-set{
        width:270px;
    }
}